

.game {
    display: grid;
    place-items: center;
    row-gap:1rem;
    width: fit-content;
    margin-inline: auto;
}
.game * {
    margin:0;
}

.game select {
   padding:.5rem; 
}

.game button {
    padding: .75rem;
    width:100%;
    font-size: 24px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: .5rem;
    cursor: pointer;
}

.game button:hover {
    background-color: lightgray;
}

.game button:active {
    background-color: rgb(193, 193, 193);
}